extends layout

block content
	main.container.mt-5
		h1= title
		.card.card-body
			form(name="student_form" action="/students/add_update" method="POST")
				.row.form-group
					label.col-2(for="Student ID") Student ID
					input#student_id.col-9.pl-0.pr-0(type="text", name="student_id", value=sid) 
				.row.form-group
					label.col-2(for="Name") Name
					input#name.col-9.pl-0.pr-0(type="text", name="name", value=sname)
				.row.form-group
					label.col-2(for="Address") Address
					textarea#address.col-9.form-control.pl-2.pr-2(name="address", rows="2")=saddress
				.row.form-group
					label.col-2(for="Gender") Gender
					.form-radio
						.radio
							label
								input(type="radio" name="gender" value="M" checked=sgender=="M")
								| &nbsp;Male
						.radio
							label
								input(type="radio" name="gender" value="F" checked=sgender=="F")
								| &nbsp;Female
				.row.form-group
					label.col-2(for="Date of Birth") Date of Birth
					input#date_of_birth.col-9.pl-0.pr-0(type="date", name="date_of_birth", value=sdob)
					input#old_id(type="hidden", name="old_id", value=sOldId)
				input.btn.btn-primary(type="submit" value="Submit")