extends layout

block content
	main.container.mt-5
		h1= title
		.form-group
			a.btn.btn-primary(href="/students/add")= 'Add Student'
		table.table
			thead.thead-dark
				tr
					th= 'ID'
					th= 'Name'
					th= 'Address'
					th= 'Gender'
					th= 'Date of Birth'
					th
			for student in data
				tr
					td= student.student_id
					td
						a(href='/students/'+student.student_id) #{student.name}
					td= student.address
					- var sgender = student.gender
					if sgender === 'M'
						td= 'Male'
					else
						td= 'Female'
					td= moment(student.date_of_birth).format('DD-MM-YYYY')
					td
						form(action="/students/delete/"+student.student_id method="POST")
							input.btn.btn-warning(type="submit" value="Delete")